In [1]:
import pandas as pd

df = pd.read_csv('全台火車進出站資訊.csv')
df

                日期   縣市    年度       年月   站名   進站人數   出戰人數  Ubike
0       2019-04-23  臺南市  2019  2019-04   永康   2516   2667      1
1       2019-04-23  彰化縣  2019  2019-04   源泉     19     21      0
2       2019-04-23  南投縣  2019  2019-04   濁水     70     63      0
3       2019-04-23  南投縣  2019  2019-04   龍泉      8     12      0
4       2019-04-23  南投縣  2019  2019-04   集集    299    127      0
...            ...  ...   ...      ...  ...    ...    ...    ...
406756  2023-12-31  彰化縣  2023  2023-12   彰化  19617  16699      1
406757  2023-12-31  彰化縣  2023  2023-12   花壇   1864   1532      1
406758  2023-12-31  彰化縣  2023  2023-12   大村   1315   1100      0
406759  2023-12-31  臺中市  2023  2023-12  頭家厝    781    778      0
406760  2023-12-31  基隆市  2023  2023-12   暖暖    576    447      0

[406761 rows x 8 columns]

In [4]:
df1 = df.groupby(by=['縣市','年度','站名'])[['進站人數','出戰人數']].max()
df1

               進站人數   出戰人數
縣市  年度   站名
南投縣 2019 水里     865   1111
         濁水     497    431
         車埕    2854   2977
         集集    2093   2450
         龍泉      76    303
...             ...    ...
高雄市 2023 美術館   2477   2890
         路竹    2101   2126
         高雄   21903  21915
         鳳山    8076   8057
         鼓山     958   1055

[1198 rows x 2 columns]

In [8]:
df1.columns.name = '人數'
s1 = df1.stack(level='人數')
s1
s1.unstack(level=['人數','年度'])

人數          進站人數     出戰人數     進站人數     出戰人數     進站人數     出戰人數     進站人數  \
年度          2019     2019     2020     2020     2021     2021     2022
縣市  站名
南投縣 水里     865.0   1111.0    432.0    414.0    540.0    524.0    149.0
    濁水     497.0    431.0    453.0    379.0    329.0    340.0    273.0
    車埕    2854.0   2977.0   2031.0   2148.0   1999.0   1965.0    434.0
    集集    2093.0   2450.0   1869.0   1830.0   1521.0   1613.0    660.0
    龍泉      76.0    303.0     84.0    274.0    103.0     66.0     58.0
...          ...      ...      ...      ...      ...      ...      ...
高雄市 美術館   1497.0   1333.0   1268.0   1308.0   1411.0   1553.0   1655.0
    路竹    2452.0   2497.0   2256.0   2431.0   1951.0   2043.0   1810.0
    高雄   28426.0  28828.0  22345.0  23538.0  21992.0  23052.0  17927.0
    鳳山    9590.0   9018.0   7616.0   8277.0   7273.0   7255.0   7256.0
    鼓山     404.0    369.0    332.0    316.0   2352.0    545.0    788.0

人數          出戰人數     進站人數     出戰人數
年度          2022     2023     2023
縣市  站名
南投縣 水里     316.0    141.0    580.0
    濁水     250.0    364.0    467.0
    車埕    1610.0    913.0    757.0
    集集     652.0   1409.0    977.0
    龍泉     390.0     92.0    271.0
...          ...      ...      ...
高雄市 美術館   1838.0   2477.0   2890.0
    路竹    1895.0   2101.0   2126.0
    高雄   18397.0  21903.0  21915.0
    鳳山    7157.0   8076.0   8057.0
    鼓山     731.0    958.0   1055.0

[241 rows x 10 columns]

In [9]:
df2 = df.groupby(by=['縣市','年月','站名'])[['進站人數','出戰人數']].max()
df2

                  進站人數   出戰人數
縣市  年月      站名
南投縣 2019-04 水里     338    382
            濁水     337    236
            車埕    1541   1475
            集集    1131   1323
            龍泉      30     30
...                ...    ...
高雄市 2023-12 美術館   1872   2014
            路竹    2101   2126
            高雄   21903  21915
            鳳山    7968   7898
            鼓山     958   1055

[13619 rows x 2 columns]